.hero{
    width:100%;
    height:100vh;
    background-image: linear-gradient(#f44336,#730228);
    display:flex;
    justify-content: center;
    align-items: center;
}
*{
    margin:0;

}


.selector {
    width: 300px;
    position: relative;
}

#selectField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#list {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    margin-top: 10px;
    position: absolute;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    list-style: none;
}

.options {
    padding: 15px 20px;
    cursor: pointer;
}

.options:hover {
    background: #3a202042;
}

.hide {
    display: none;
}
